*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1000px;
    margin: 80px 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.box{
    margin-left: 100px;
    margin-top: 80px;
    border: 3px solid black;
    padding: 80px 80px;
    
}

h1{
    background-color: lightgrey;
    text-align: center;
    padding: 15px 0;
}

button{
    padding: 0 18px;
    background-color: rgb(74, 65, 65);
    color: white;
}

.forms{
    display: flex;
    justify-content: center;
}

input{
    padding: 5px 0;
}